
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    background-repeat: no-repeat;
    
    &_face {
        background-image: url("../media/section/face.jpg");
        background-position: center top;
    }

    &_warning {
        background-color: rgb(174,29,107);
        background-image: linear-gradient(99deg, rgba(174,29,107,1) 0%, rgba(103,28,161,1) 100%);
    }
}

@media (max-width: 1280px) {
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .section {
        
    }
}
