
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    background-repeat: no-repeat;
    
    &_face {
        background-image: url("../media/section/face.jpg");
        background-position: center top;
    }

    &_warning {
        background-color: rgb(174,29,107);
        background-image: linear-gradient(99deg, rgba(174,29,107,1) 0%, rgba(103,28,161,1) 100%);
    }

    &_step {
        background-image: url("../media/section/step.jpg");
        background-position: center bottom;
    }

    &_help {
        background-image: url("../media/section/help.jpg");
        background-position: right top;
        overflow: hidden;
    }

    &_secret {
        background-color: rgb(230,188,211);
        background-image: linear-gradient(0deg, rgba(230,188,211,1) 0%, rgba(255,255,255,1) 100%);
    }

    &_transformation {
        background-color: rgb(108,28,157);
        background-image: url("../media/section/transformation.png"), linear-gradient(90deg, rgba(108,28,157,1) 0%, rgba(168,29,112,1) 100%);
        background-position: center center;
    }
}

@media (max-width: 1280px) {
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .section {
        
    }
}
