<section class="section section_help">
    <div class="container">
        <div class="help">
            <div class="help__title"><span><mark>Fortolex</mark> поможет вернуться</span> к нормальной жизни <mark>без вальгуса</mark></div>
            <div class="help__list">
                <div class="help__list-title">Препарат был воссоздан по рецептуре древних китайцев. </div>
                <p>В Древнем Китае с 4-х лет девочкам туго бинтовали ноги и заставляли носить узкую обувь на несколько размеров меньше для формирования маленькой стопы и ношения традиционной обуви. Маленькая нога считалась эталоном красоты и определяла принадлежность к знати. </p>
                <p>За годы таких процедур фаланги пальцев смещались, пальцы залезали друг на друга. Обычный угол пальцев превращался в ноющий от боли треугольник. Отказаться от почтенного образа было нельзя, но устранять боль не запрещалось.</p>
                <div class="help__list-world"></div>
            </div>
            <div class="help__product"></div>
            <div class="help__media">
                <p>С этой целью китайцы использовали стебель boswellia serrata. При надрезе из растения выделялась смола, которая на воздухе быстро застывала. При правильном извлечении сохраняла полезные свойства и облегчала страдания женщин, избавляя их от дикой боли.</p>
            </div>
            <p>Позже, когда здравый смысл начал побеждать красоту, девушки уже не уродовали ноги намеренно. Обувь оставалась красивой и неудобной. Так зарождался халюс вальгус, который китайские лекари успешно лечили снадобьем из арники монтаны, камфоры и корня сабельника.</p>
            <p>Средство готовили по особой, до некоторых пор секретной рецептуре. Именно оно помогало женщином вернуть правильное положение пальцев ног и избавиться от страшных мучений. Раздобыть секрет древних китайцев удалось только в начале 21 века.</p>
            <p><b>И только в прошлом году по его примеру был воссоздан и запатентован препарат, получивший название Fortolex.</b></p>
        </div>
    </div>
</section>