<section class="section section_secret">
    <div class="container">
        <div class="secret">
            <div class="secret__title"><mark>Fortolex</mark> – формула древних китайцев в современном исполнении</div>
            <div class="secret__subtitle">Состав препарата идентичен древнекитайскому средству против боли и искривления пальцев ног. <span>Его тщательно проанализировали, провели исследования и вывели мощную формулу против hallux valgus.</span></div>
            <div class="secret__product"><img src="../media/product.png" alt=""></div>
            <div class="secret__body">
                <div class="secret__item">
                    <div class="secret__item-box">
                        <div class="secret__name">Босвеллия Серрата</div>
                        <div class="secret__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus consequat vestibulum. Aliquam euismod tempor nunc, eu blandit libero. Vestibulum eget placerat sapien.</div>
                    </div>
                </div>
                <div class="secret__item">
                    <div class="secret__item-box">
                        <div class="secret__name">Цветки Арники монтаны</div>
                        <div class="secret__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus consequat vestibulum. Aliquam euismod tempor nunc, eu blandit libero. Vestibulum eget placerat sapien.</div>
                    </div>
                </div>
                <div class="secret__item">
                    <div class="secret__item-box">
                        <div class="secret__name">Корень сабельника</div>
                        <div class="secret__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus consequat vestibulum. Aliquam euismod tempor nunc, eu blandit libero. Vestibulum eget placerat sapien.</div>
                    </div>
                </div>
                <div class="secret__item">
                    <div class="secret__item-box">
                        <div class="secret__name">Цветки календулы лекарственной</div>
                        <div class="secret__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus consequat vestibulum. Aliquam euismod tempor nunc, eu blandit libero. Vestibulum eget placerat sapien.</div>
                    </div>
                </div>
                <div class="secret__item">
                    <div class="secret__item-box">
                        <div class="secret__name">Тимьян</div>
                        <div class="secret__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus consequat vestibulum. Aliquam euismod tempor nunc, eu blandit libero. Vestibulum eget placerat sapien.</div>
                    </div>
                </div>
                <div class="secret__item">
                    <div class="secret__item-box">
                        <div class="secret__btn">Заказать сейчас</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>