<section class="section section_step">
    <div class="container">
        <div class="step">
            <div class="step__box">
                <div class="step__title"><span>На какой</span> <mark>стадии</mark> ваша болезнь?</div>
                <div class="step__click">Нажмите на фото ног, максимально похожих на ваши</div>
            </div>
            <div class="step__body">
                <div class="step__item active">
                    <div class="step__count">Фото 1.</div>
                    <div class="step__info">
                        <div class="step__close"></div>
                        <div class="step__item-title">Первая стадия.</div>
                        <div class="step__description">Явного выделения шишки нет. Иногда случаются покраснения стоп, отечность, зуд. Болевые ощущения возникают время от времени Чаще всего их связывают с усталостью.</div>
                        <div class="step__btn">Приступить к лечению</div>
                    </div>
                </div>
                <div class="step__item">
                    <div class="step__count">Фото 2.</div>
                    <div class="step__info">
                        <div class="step__close"></div>
                        <div class="step__item-title">Первая стадия.</div>
                        <div class="step__description">Явного выделения шишки нет. Иногда случаются покраснения стоп, отечность, зуд. Болевые ощущения возникают время от времени Чаще всего их связывают с усталостью.</div>
                        <div class="step__btn">Приступить к лечению</div>
                    </div>
                </div>
                <div class="step__item">
                    <div class="step__count">Фото 3.</div>
                    <div class="step__info">
                        <div class="step__close"></div>
                        <div class="step__item-title">Первая стадия.</div>
                        <div class="step__description">Явного выделения шишки нет. Иногда случаются покраснения стоп, отечность, зуд. Болевые ощущения возникают время от времени Чаще всего их связывают с усталостью.</div>
                        <div class="step__btn">Приступить к лечению</div>
                    </div>
                </div>
                <div class="step__item">
                    <div class="step__count">Фото 4.</div>
                    <div class="step__info">
                        <div class="step__close"></div>
                        <div class="step__item-title">Первая стадия.</div>
                        <div class="step__description">Явного выделения шишки нет. Иногда случаются покраснения стоп, отечность, зуд. Болевые ощущения возникают время от времени Чаще всего их связывают с усталостью.</div>
                        <div class="step__btn">Приступить к лечению</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>