<section class="section section_transformation">
    <div class="container">
        <div class="transformation">
            <div class="transformation__box">
                <div class="transformation__title">Посмотрите, как ваши ноги изменятся с <mark>Fortolex</mark></div>
                <div class="transformation__subtitle"><p>Наведите на фото и увидите, как преображаются ноги с <mark>Fortolex</mark></p></div>
            </div>
            <div class="transformation__box">
                <div class="transformation__media">
                    <span>До</span>
                </div>
            </div>
        </div>
    </div>
</section>