<section class="section section_warn">
    <div class="container">
        <div class="warn">
            <div class="warn__title">Будьте осторожны!</div>
            <div class="warn__subtitle">Оригинальный Fortolex реализуется только на этом сайте. Продукт, приобретенный на сторонних ресурсах, является подделкой.</div>
            <div class="warn__media"></div>
        </div>
    </div>
</section>