<section class="section section_warning">
    <div class="container">
        <div class="warning">
            <div class="warning__title">Hallux valgus.</div>
            <div class="warning__subtitle">Когда шишка превращается в болезнь?</div>
            <div class="warning__body">
                <div class="warning__item">
                    <div class="warning__count">1.</div>
                    <div class="warning__item-title">Скрытый вальгус</div>
                    <div class="warning__description">Такое проявление hallux valgus встречается в самом начале развития болезни. Вы еще не видите сильных изменений, но уже ощущаете дискомфорт. Ноги болят после долгой прогулки, обувь кажется тесной и неудобной – даже та, в которой раньше было комфортно. Так развивается вальгус. </div>
                </div>
                <div class="warning__item">
                    <div class="warning__count">2.</div>
                    <div class="warning__item-title">Подозрение на вальгус</div>
                    <div class="warning__description">У вас есть небольшой выступ возле первого пальца стопы. Кроме эстетического несовершенства он может никак себя не проявлять, если не усугублять ситуацию декоративной обувью. Вы еще не уверены, что это проблема, но она уже есть.</div>
                </div>
                <div class="warning__item">
                    <div class="warning__count">3.</div>
                    <div class="warning__item-title">Явные признаки патологии</div>
                    <div class="warning__description">Запущенные случаи вальгусной деформации сложно спутать с чем-то другим. Болезнь есть и кажется, хуже быть не может. Может. Если не лечить вальгус на последней стадии заболевания, “шишка” рано или поздно разрушится, а ее содержимое попадет в кровь.</div>
                </div>
            </div>
        </div>
    </div>
</section>