
.help {
    position: relative;

    & > p {
        margin-right: 230px;
        margin-left: 120px;
        font-size: 18px;
        color: #303030;
        line-height: 1.4;

        b {
            font-weight: 700;
            font-size: 22px;
        }

        & + p {
            margin-top: 25px;
        }
    }
}

.help__product {
    position: absolute;
    bottom: -60px;
    z-index: 3;
    left: calc(100% - 200px);
    width: 551px;
    height: 688px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../media/product-2.png");
}

.help__title {
    margin-bottom: 30px;
    font-size: 76px;
    font-family: "Heading-Pro";
    text-transform: uppercase;
    color: #303030;
    line-height: 1;

    mark {
        font-weight: 700;
        color: #671ca1;
    }

    span {
        display: block;
    }
}

.help__list {
    position: relative;
    max-width: 1048px;
    margin-bottom: 132px;
    box-shadow: 0px 17px 40px 5px rgba(0, 0, 0, 0.28);
    margin-left: 120px;

    &::before {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        height: 132px;
        width: 100%;
        content: '';
        background-repeat: no-repeat;
        background-position: center bottom;
        background-image: url("../media/help/list.png");
        background-size: 100% auto;
    }

    &::after{
        position: absolute;
        top: 0;
        bottom: 0;
        height: calc(100% + 48px);
        width: 6px;
        border-radius: 5px;
        background-color: #a86fd4;
        content: '';
    }

    p {
        padding-right: 60px;
        padding-left: 155px;
        font-size: 18px;
        background-color: #fff;

        & + p {
            padding-top: 30px;
        }
    }
}

.help__list-title {
    padding-top: 30px;
    padding-right: 60px;
    padding-left: 155px;
    font-size: 18px;
    font-weight: 700;
    background-color: #fff;
    color: #671ca1;
    padding-bottom: 30px;
}

.help__list-world {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    width: 227px;
    height: 206px;
    transform: translate(-50%, -50%);
    background-image: url("../media/help/world.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.help__media {
    position: relative;
    padding: 40px 190px 40px 160px;
    margin-bottom: 60px;
    margin-left: 120px;
    background-color: rgb(103,28,161);
    background-image: linear-gradient(97deg, rgba(103,28,161,1) 0%, rgba(170,29,110,1) 100%);
    font-size: 18px;
    color: #fff;
    line-height: 1.4;

    &::before {
        position: absolute;
        left: -60px;
        top: 50%;
        width: 186px;
        height: 210px;
        content: '';
        transform: translateY(-50%);
        background-image: url("../media/help/floor.png");
        background-repeat: no-repeat;
    }
}

@media (max-width: 1280px) {
    .help__title {
        font-size: 55px;
    }

    .help__list {
        margin-bottom: 90px;

        &::before {
            height: 78px;
        }

        &::after {
            height: calc(100% + 29px);
        }
    }
}

@media (max-width: 768px) {
    .help > p {
        margin-right: 0;
        margin-left: 0;
    }

    .help__title {
        font-size: 38px;
        margin-bottom: 60px;
    }

    .help__list {
        margin-left: 0;
        margin-bottom: 30px;

        p {
            padding: 30px;

            & + p {
                padding-top: 0;
            }
        }

        &::before {
            display: none;
            height: 57px;
        }

        &::after {
            height: 100%;
        }
    }

    .help__list-title {
        padding: 30px 30px 0;
    }

    .help__list-world {
        top: 0;
        width: 95px;
        height: 86px;
    }

    .help__media {
        margin-left: 0;
        padding: 30px;
        margin-bottom: 30px;

        &::before {
            top: 0;
            width: 90px;
            height: 90px;
            background-size: contain;
        }
    }

    .help__product {
        position: static;
        width: 280px;
        height: 355px;
        margin-right: auto;
        margin-left: auto;
    }
}
