
.secret {
    position: relative;
}

.secret__product {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 592px;
}

.secret__title {
    margin-bottom: 30px;
    font-size: 76px;
    line-height: 1;
    color: #303030;
    font-family: "Heading-Pro";
    text-transform: uppercase;
    text-align: center;

    mark {
        font-weight: 700;
        color: #671ca1;
    }
}

.secret__subtitle {
    margin-bottom: 60px;
    text-align: center;
    font-size: 18px;
    color: #303030;

    span {
        display: block;
    }
}

.secret__body {
    display: flex;
    flex-wrap: wrap;
}

.secret__item {
    position: relative;
    flex: 0 0 50%;
    width: 50%;
    display: flex;
    margin-bottom: 40px;
    padding-left: 120px;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 109px;
        height: 109px;
        border-radius: 50%;
        background-repeat: no-repeat;
        border: 5px solid #79cdd2;
    }

    &:nth-child(1) {
        &::before {
            background-image: url("../media/secret/img-1.jpg");
        }
    }
    &:nth-child(2) {
        &::before {
            background-image: url("../media/secret/img-2.jpg");
        }
    }
    &:nth-child(3) {
        &::before {
            background-image: url("../media/secret/img-3.jpg");
        }
    }
    &:nth-child(4) {
        &::before {
            background-image: url("../media/secret/img-4.jpg");
        }
    }
    &:nth-child(5) {
        &::before {
            background-image: url("../media/secret/img-5.jpg");
        }
    }

    &:last-child {
        &::before {
            display: none;
        }
    }

    &:nth-child(2n) {
        padding-right: 120px;

        &::before {
            left: auto;
            right: 0;
        }

        .secret__item-box {
            margin-left: auto;
            text-align: right;
        }
    }
}

.secret__item-box {
    max-width: 315px;
}

.secret__name {
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: 700;
    color: #303030;
    text-transform: uppercase;
    font-family: "Heading-Pro";
    line-height: 1;
}

.secret__description {
    line-height: 1.4;
}

.secret__btn {
    display: inline-block;
    padding: 20px 50px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #671ca1;
    font-weight: 700;
    cursor: pointer;

    &:active {
        transform: scale(0.98);
    }

    &:hover {
        opacity: 0.9;
    }
}

@media (max-width: 1280px) {
    .secret__title {
        font-size: 55px;
    }

    .secret__subtitle {
        span {
            display: inline;
        }
    }

    .secret__body {
        flex-direction: column;
    }

    .secret__item {
        width: 100%;

        &:last-child {
            text-align: center;
        }

        &:nth-child(2n) {
            padding-right: 0;
            
            .secret__item-box {
                text-align: left;
            }

            &::before {
                right: auto;
                left: 0;
            }
        }
    }

    .secret__item-box {
        max-width: 100%;
        margin-left: 0;
        width: 100%;
    }

    .secret__product {
        display: none;
    }
}

@media (max-width: 480px) {
    .secret__title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .secret__item {
        padding-left: 80px;

        &::before {
            width: 70px;
            height: 70px;
            border-width: 3px;
            background-position: center;
        }

        &:last-child {
            padding-left: 0;

            .secret__item-box {
                text-align: center;
            }
        }
    }

    .secret__name {
        margin-bottom: 5px;
        font-size: 28px;
    }
}
