
.warning__title {
    text-align: center;
    color: #f2df77;
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Heading-Pro";
    font-weight: 900;
}

.warning__subtitle {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Heading-Pro";
    font-weight: 700;
    color: #fff;
    font-size: 54px;
}

.warning__body {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.warning__item {
    padding: 30px;
    flex: 1 0 0;
    background-color: rgb(91,18,112);
    background-image: linear-gradient(99deg, rgba(91,18,112,1) 0%, rgba(80,17,121,1) 100%);
    border-radius: 5px;
    margin: 0 15px 30px 15px;
}

.warning__count {
    text-transform: uppercase;
    font-family: "Heading-Pro";
    font-weight: 900;
    font-size: 86px;
    color: #fff;
    opacity: .11;
    line-height: 0.9;
}

.warning__item-title {
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Heading-Pro";
    font-weight: 900;
    font-size: 46px;
    line-height: 1;

    &::before {
        position: absolute;
        left: 0;
        top: calc(50% - 3px);
        transform: translateY(-50%);
        width: 7px;
        height: calc(100% - 15px);
        background-color: #f2df77;
        content: '';
        border-radius: 10px;
    }
}

.warning__description {
    color: #fff;
    line-height: 1.4;
}